<header class="bg-gray-800">
  <nav class="mx-auto px-4 py-2 flex justify-between items-center">
    <a href="#" class="text-white font-bold text-lg">CinémaXYZ</a>
    <ul class="flex space-x-4">
      <li><a href="#" class="text-white hover:text-gray-400">Home</a></li>
      <li><a href="#" class="text-white hover:text-gray-400">Movies</a></li>
      <li><a href="#" class="text-white hover:text-gray-400">About</a></li>
      <li><a href="#" class="text-white hover:text-gray-400">Contact</a></li>
    </ul>
  </nav>
</header>

<section class="bg-gray-900 text-white py-40 flex justify-center items-center header-cinema">
  <div class="container mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold mb-8">Book your cinema seats online</h1>
    <p class="text-lg mb-8">Discover the best movies and book your seats in just a few clicks.</p>
  </div>
</section>