html,
body,
.app-container,
.section-full {
  height: 100%;
  margin: 0;
  padding: 0;
}

.black-background {
  background-color: #0D0D0F;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.element {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.left-side {
  position: absolute;
  left: 7%;
  top: 10%;
  z-index: 2;
  width: 250px;
}

.container-img {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#seatContainer {
  display: flex;
  justify-content: center;
}

#screenContainer {
  position: relative;
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen,
.shadow {
  position: absolute;
  width: 80%;
  background-color: #a6a6a6;
  border-radius: 5px;
  overflow: visible;
}

.screen {
  height: 100%;
  transform: perspective(800px) rotateX(-60deg);
}

.shadow {
  top:50%;
  height: 15vh;
  background: linear-gradient(to bottom, #cccccc88, #0d0d0f1e);
  transform: perspective(800px) rotateX(60deg);
}

:host ::ng-deep .custom-table {
  width: 100%;
  table-layout: fixed;
}

:host ::ng-deep .custom-table td {
  text-align: center;
  padding: 5px;
}

:host ::ng-deep .custom-table td:hover {
  cursor: pointer;
}

:host ::ng-deep .available {
  color: green;
}

:host ::ng-deep .taken {
  color: red;
}

:host ::ng-deep .selected {
  color: blue;
}

.centered-square{
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.square-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day {
  font-size: 24px;
  font-weight: bold;
}

.month {
  font-size: 16px;
  color: gray;
}

.text {
  color: white;
  font-size: 16px;
}

.text-low {
  color: white;
  font-size: 12px;
}

.reserve-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid #007bff;
  color: #d81414;
  border-radius: 4px;
  cursor: pointer;
}
