<app-headerreservation [filmID]="movieID"></app-headerreservation>


<div class="app-container">
  <div class="black-background">
    <div class="main-container">
      <div class="element">
        <div class="left-side">
          <div class="container-img">
            <img src="../../../assets/images/films/{{ movieID }}.jpg" alt="Film Image" />
          </div>
          <div class="purchase-section mt-12">
            <h3>CART :</h3>
            <div class="selected-seats">
              <span class="label">Selected Seats : </span>
              <span class="count">{{ selectedSeatsTotal }}</span>
            </div>
          </div>
          <div class="total-cost">
            <span class="label">Total Cost : </span>
            <span class="amount">{{ selectedSeatsTotal * 10.99 }}</span>
          </div>
          <div class="flex justify-center mt-8 space-x-4">
            <button class="cancel-button mt-8" (click)="cancelReservation()">Cancel</button>
            <button class="reserve-button mt-8" (click)="reserveSeats()">Reserve</button>
          </div>
        </div>
      </div>
      <div class="element">
        <div id="screenContainer">
          <div class="screen"></div>
          <div class="shadow"></div>
        </div>
        <div id="seatContainer"></div>
      </div>
      <div class="element">
        <div class="centered-square">
          <p>DATE :</p>
          <div class="square">
            <div class="square-content">
              <div class="day">{{ showtimeDay }}</div>
              <div class="month">{{ showtimeMonth }}</div>
            </div>
          </div>
          <div class="square">
            <div class="square-content">
              <span class="text-low">Time</span>
              <span class="text">{{ hourShowtime }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>