<app-header></app-header>

<div class="flex flex-wrap justify-center">
  <div class="w-full sm:w-1/3 p-4 my-5">

    <div class="bg-white rounded-lg shadow-lg overflow-hidden">

      <div class="h-64">
        <img src="assets/images/films/{{ filmInfos?.movie_id}}.jpg" alt="Movie Image" class="object-cover h-full w-full">
      </div>

      <div class="flex items-center justify-center h-1/4">
        <h2 class="text-3xl font-bold"> {{ filmInfos?.title }} </h2>
      </div>

      <div class="flex justify-evenly py-4">
        <a class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg"
          *ngFor="let showtime of showtimes" [routerLink]="['/reservation', showtime?.showtime_id, filmInfos?.movie_id]">
          {{ showtime?.show_date.split('T')[0] }}
          <span> {{ showtime?.start_time.substring(0,5) }} </span>
        </a>
      </div>
    </div>

  </div>
</div>